        pre {
            margin-left: 15px !important
        }

        body {
            font-family: Helvetica, Arial;
        }

        .flex-row {
            display: flex;
            flex-wrap: nowrap;
            /*max-width: 800px;*/
        }

        .flex-row .canvas-holder {
            flex: 1 0 400px;
            border: 2px solid red;
            min-width: 0;
        }

        .flex-row .properties {
            flex: 0 0 240px;
            padding: 16px;
        }

        .flex-row .properties .title {
            color: #666;
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        .form-group {
            margin-bottom: 16px;
        }

        .form-group label {
            display: block;
            color: #666;
            font-size: 80%;
            font-weight: bold;
        }

        .form-group input {
            display: block;
        }

        textarea {
            min-height: 120px;
            width: 100%;
            resize: vertical;
        }

        .btn-toolbar {
            margin-top: 16px;
        }

        .btn-toolbar .btn {
            margin-left: 8px;
        }

        .btn-toolbar .btn:first-of-type {
            margin-left: 0;
        }

        .btn {
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            padding: 4px 12px;
        }

        .btn-primary {
            color: white;
            background-color: #304050;
        }

    